body{
    background: url(../img/photo-1491357492920-d2979986a84e.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family:'DM Sans', sans-serif
}

.navbar{
   
   background-color: #70c6db;
}

.navbar-nav a{
    font-size: 1vw;
}

@media (max-width: 1177px) {
    .navbar-nav a {
        font-size: 1rem;
    }
}

 

#cat_prop{
    color: rgb(255, 255, 255);
}

#sub_prop{
    margin-left: 6%;
    margin-top: 3%;
    color: rgb(255, 255, 255);
}

.titulos{
    margin-top: 7%;
    margin-left: 10%;
}
hr.solid {
    margin-right: 67%;
    height: 0.6rem;
    background: linear-gradient(to right, #2392ae, #afccd3);
  }
 #options-row{
     
     margin-left: 15%;
     margin-right: 15%;
 }

    

h5{
    color: black;
}
.card{
    border-radius: 8%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
.card-img-top{
    border-radius: 8%;
    width: 256px;
    height: 202.67px;
}

footer{
    background-color: #70c6db;
    margin-top: 5rem;
    border-color:#123b4600 ;
    font-family:'DM Sans', sans-serif

}

.footer-total{
    background-color: black;
}


.foot-top{
    border: 0px;
    top: 0px;
    height: 0.6rem;
    background: linear-gradient(to right, #123b46, #51bcd6);
    border-color:#123b4600 ;

}
.container-anexo{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #676767ad;

}

.text-break-all{
    word-break: break-all;
}

.btn-outline-info{
    color: white;
    border-color: white;
    border-width: 0.2rem;
}

#exampleFormControlSelect1{
    border-radius: 0.8rem;
}


