body{
    background: url(../img/photo-1605146769289-440113cc3d00.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family:'DM Sans', sans-serif
}

.navbar{
   
   background-color: #70c6db;
}

.navbar-nav a{
    font-size: 1vw;
}

@media (max-width: 1177px) {
    .navbar-nav a {
        font-size: 1rem;
    }
}

hr.solid {
    margin-right: 67%;
    height: 0.6rem;
    background: linear-gradient(to right, #2392ae, #afccd3);
}

h5 {
    color: black;
}

footer{
    background-color: #70c6db;
    margin-top: 5rem;
    border-color:#123b4600 ;
    font-family:'DM Sans', sans-serif

}

.footer-total{
    background-color: black;
}


.foot-top{
    border: 0px;
    top: 0px;
    height: 0.6rem;
    background: linear-gradient(to right, #123b46, #51bcd6);
    border-color:#123b4600 ;

}
.container-anexo{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #676767ad;

}

.text-break-all{
    word-break: break-all;
}

.btn-outline-info{
    color: white;
    border-color: white;
    border-width: 0.2rem;
}

@media (min-width:768px) {
    .hide-border {
        border-left: 0 !important;
    }
}

.link-style {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.img-center {
    text-align: center;
    height: 50%;
}

@media (min-width:992px) {
    .reportes {
        border-radius: 20px;
    }
}
#botonzote{
    
    margin-right: 19%;
    margin-bottom: 3%;
}
